<img src="../Pics/MLSb-T.png" width="160">
<br><br>
<center><u><H1>Recommender Systems with KNN</H1></u></center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ['user_id', 'movie_id', 'rating', 'timestamp']
df_ratings = pd.read_csv('../Data/ml-100k/u.data', sep='\t', names=header)
df_ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [3]:
ratings = df_ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0)
ratings.head(5)

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
matrix = ratings.as_matrix()

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
ratings_train, ratings_test = train_test_split(matrix, test_size=0.3, random_state=42)

In [7]:
ratings_train.shape

(660L, 1682L)

In [8]:
ratings_train[:5]

array([[ 5.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 4.,  0.,  0., ...,  0.,  0.,  0.]])

In [9]:
ratings_test.shape

(283L, 1682L)

## Finding the top N nearest neighbors

In [21]:
from sklearn.neighbors import NearestNeighbors
k = 5

In [22]:
knn = NearestNeighbors(k, 'cosine')

In [23]:
knn.fit(ratings_train)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius='cosine')

In [24]:
top_k_dist, top_k_users = knn.kneighbors(ratings_train, return_distance=True)

In [25]:
top_k_dist.shape

(660L, 5L)

In [26]:
top_k_users.shape

(660L, 5L)

## Top 5, similar users to user 1:

In [27]:
top_k_users[0]

array([  0, 211,  16, 583, 428], dtype=int64)

In [36]:
top_k_dist[0]

array([  0.        ,  41.71330723,  43.3474336 ,  45.04442252,  45.04442252])

## Item-based recommendations

In [28]:
# defining k as the number of movies
k_ = ratings_train.shape[1]
k_

1682L

In [29]:
neigh_ = NearestNeighbors(k_, 'cosine')

In [30]:
neigh_.fit(ratings_train.T)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=1682L, p=2,
         radius='cosine')

In [31]:
top_k_dist_, top_k_movies_ = neigh_.kneighbors(ratings_train.T, return_distance=True)

## Top 5, similar movies to movie 1:

In [34]:
top_k_movies_[0]

array([  0, 120, 404, ..., 285, 312, 301], dtype=int64)

In [35]:
top_k_dist_[0]

array([  0.        ,  53.12249994,  54.38749856, ...,  77.08436936,
        77.39509028,  79.3473377 ])

## Predicting the movie ratings

In [37]:
item_predictions = ratings_train.dot(top_k_dist_) / np.array([np.abs(top_k_dist_).sum(axis=1)])

In [38]:
item_predictions.shape

(660L, 1682L)

In [39]:
df_predictions = pd.DataFrame(item_predictions, columns=ratings.columns)
df_predictions.head(10)
#Because the query set matches the training set, the nearest neighbor of each point is the point itself, at a distance of zero.

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
0,0.0,0.318426,0.370093,0.262237,0.369791,0.462891,0.188307,0.240255,0.208729,0.352278,...,1.298808,1.292362,1.365190,1.380232,1.393514,1.408556,1.426800,1.448504,1.456640,1.545308
1,0.0,0.054538,0.062280,0.044045,0.061896,0.077263,0.031369,0.039994,0.034737,0.058565,...,0.182118,0.180352,0.189936,0.191750,0.193745,0.195906,0.197830,0.200787,0.201121,0.213325
2,0.0,0.035225,0.040731,0.028824,0.040595,0.050637,0.020564,0.026209,0.022772,0.038423,...,0.166232,0.165331,0.174985,0.177631,0.179116,0.180139,0.181806,0.184569,0.186547,0.200763
3,0.0,0.087291,0.101434,0.071960,0.101578,0.126977,0.051637,0.065800,0.057136,0.096375,...,0.331993,0.330009,0.347356,0.351866,0.354874,0.358003,0.360961,0.365639,0.367251,0.390919
4,0.0,0.421538,0.488463,0.347368,0.490747,0.614978,0.250371,0.319556,0.277829,0.469281,...,1.790325,1.779009,1.881473,1.902814,1.922278,1.941175,1.968537,1.997288,2.013134,2.126436
5,0.0,0.062268,0.071446,0.050520,0.071088,0.088917,0.036149,0.046140,0.040088,0.067561,...,0.205173,0.203762,0.214561,0.216829,0.219402,0.221169,0.223249,0.225526,0.226530,0.240815
6,0.0,0.127591,0.149610,0.105822,0.149263,0.186985,0.076077,0.097033,0.084321,0.142406,...,0.449655,0.446358,0.470311,0.475094,0.478856,0.482460,0.487072,0.491807,0.490226,0.521446
7,0.0,0.047315,0.054840,0.038746,0.054376,0.067811,0.027574,0.035161,0.030520,0.051402,...,0.156799,0.155842,0.164196,0.165506,0.166585,0.168679,0.170884,0.172929,0.171849,0.185213
8,0.0,0.038242,0.044113,0.031148,0.043863,0.054703,0.022212,0.028351,0.024608,0.041484,...,0.132831,0.131897,0.138646,0.140299,0.141655,0.142829,0.144261,0.146185,0.145816,0.156544
9,0.0,0.521024,0.606827,0.431687,0.609992,0.763399,0.310718,0.396555,0.344655,0.581956,...,2.121418,2.108141,2.229936,2.254356,2.276204,2.297575,2.326097,2.360383,2.365945,2.521556

In [41]:
from scipy.sparse import csr_matrix
matrix_sparse = csr_matrix(ratings.values)

In [42]:
matrix_sparse[:5]

<5x1682 sparse matrix of type '<type 'numpy.float64'>'
	with 587 stored elements in Compressed Sparse Row format>

In [46]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(matrix_sparse)

query_index = 0
#query_index = np.random.choice(matrix_.shape[0])

distances, indices = model_knn.kneighbors(ratings.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print 'Recommendations for user {0}:\n'.format(ratings.index[query_index])
    else:
        print '{0}: {1}, with distance of {2}:'.format(i, ratings.index[indices.flatten()[i]], distances.flatten()[i])

Recommendations for user 1:

1: 916, with distance of 0.430934268472:
2: 864, with distance of 0.452451737806:
3: 268, with distance of 0.45792295248:
4: 92, with distance of 0.459466438816:
5: 435, with distance of 0.461335468115:

## Evaluating the model:

In [47]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [48]:
def rmse(pred,actual):
    prediction = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, actual))

In [49]:
rmse(item_predictions, ratings_train)

3.342538761948114

In [50]:
rmse(item_predictions, ratings_test)

3.44626980973761

## Reference:

http://scikit-learn.org/stable/modules/neighbors.html